<!DOCTYPE html>
<html>
<head>
  <title>Grand Theft Automation</title>
  <!-- CSS -->
  <link rel='stylesheet' href='lib/bootstrap/dist/css/bootstrap.min.css'>
  <link rel='stylesheet' href='lib/codemirror/theme/monokai.css'>
  <link rel='stylesheet' href='lib/codemirror/lib/codemirror.css'>
  <link rel='stylesheet' href='lib/codemirror/addon/hint/show-hint.css'>
  <link rel='stylesheet' href='lib/font-awesome/css/font-awesome.min.css'>
  <link rel='stylesheet' href='assets/css/styles.css'>


</head>
<body>

<!-- REACT -->
<div id='app'></div>

<!-- JAVASCRIPT -->
<script type='text/javascript' src='lib/jquery/dist/jquery.min.js'></script>
<script type='text/javascript' src='lib/bootstrap/dist/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/phaser/2.6.2/phaser.js'></script>
<script type='text/javascript' src='lib/codemirror/lib/codemirror.js'></script>
<script type='text/javascript' src='lib/codemirror/mode/javascript/javascript.js'></script>
<script type='text/javascript' src='lib/codemirror/addon/lint/javascript-lint.js'></script>
<script type='text/javascript' src='lib/codemirror/addon/edit/closebrackets.js'></script>
<script type='text/javascript' src='lib/codemirror/addon/edit/matchbrackets.js'></script>

</body>
</html>