@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

html, body {
	height: 100%;
	background-color: #474747;
}

/* == NAVBAR =========================================== */
.navbar {
  border: 0px;
}

.navbar-brand {
  font-size: 20px;
}

.navbar-default {
	background-color: #2581bf;
  margin-bottom: 0px;
	border-color: #FFF;
	border-radius: 0px;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-brand:hover {
  color: #034bae;
}

.navbar-default .navbar-nav > li > a{
  color: white;
}

.navbar-default .navbar-nav>li>a:hover{
  color: #034bae;
}

.navbar-default .navbar-nav>li>a:focus{
  color: #034bae;
}

#login-dp{
    min-width: 200px;
    padding: 14px;
    overflow: hidden;
    background-color: #2581bf;
}

.dropdown-menu {
  min-width: 250px;
}

.game-page {
  /*max-width: 300px;*/
}

/* == CONSOLE ========================================== */
.console {
	width: 100%;
	height: calc(100vh - 100px);
	background-color: #F5F5F5;
	margin-top: 50px;
}

.console-header {
	width: 100%;
	background-color: #FFF;
}

.console-footer {
}

.console-right {
  float: left;
  margin-left: 15px;
  width: calc(100vw - 845px);
}

/* == phaser_game ================================== */
.phaser-outer {
  float: left;
  margin-left: 15px;
}

#phaser_game {
  margin-top: 50px;
}

/* == NEW CODE EDITOR ================================== */
.editor-footer {
	background-color: transparent;
	height: 100%;
}


/* == CODE EDITOR ====================================== */
.CodeMirror {
	width:100%;
	height: calc(100vh - 180px);
	/*background: #354551;*/
}

.editor {
	margin-top: 5px;
}

.editor-header {
	height: 45px;
	background-color: #FFF;
}

.editor-title {
	height: 100%;
  width: 100%;
  max-width: 200px;
  margin-left: 45px;
  background-color: #272822;
}

/* == FOOTER  ========================================== */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: ;
  background-color: #f5f5f5;
}

.footer-landing {
  margin-top: 20px;
  background-color: #363535;
}

/* == BUTTONS  ========================================= */
.btn-primary {
	background-color: #43AA8B;
	border-color: #43AA8B;
	border-radius: 0px;
}
.btn-primary:hover {
	background-color: #254441;
	border-color: #254441;
}

.btn-danger {
	background-color: #FF6F59;
	border-color: #FF6F59;
	border-radius: 0px;
}

.btn-default {
	background-color: ;
	border-width: 0px;
	border-radius: 0px;
}
.btn-default:hover {
	color: #FFF;
	background-color: #B2B09B;
}

/* == LANDING PAGE  ==================================== */

.jumbotron {
  text-align: center;
  margin-bottom: 0;
  padding: 5em;
}

.jumbotron .container {
  height: 500px;
  padding-top: 180px;
}

.jumbotron h1 {
  margin-bottom: 0;
}

.jumbotron .title-image {
  color: white;
  position: relative;
  font-weight: 200;
  padding: 10px;
  border: 1px solid white;
  background-color: rgba(252, 252, 252, .2);
}

.carousel-inner > .item > img {
  max-height: 300px;
  height: auto;
  width: auto;
  margin: 0 auto;
}

.white-text {
  color: white;
}

.black-text {
  color: black;
}

.form-field {
  color: black;
}

.btn-landing {
  background-color: #3679c5;
  color: white;
}

.horizontal-divider {
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  margin-top: 0;
  margin-bottom: 5px;
}

.landing-form {
  text-align: right;
}

.landing-image {
  height: 193px;
  width: 100%;
}

#game_gif {
  width: 100%;
}

/* == BADGE  =========================================== */
.badge {
	font-size: 5pt;
	/*width: 5px;*/
}

/* LEVEL LIST */


body {
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

div.table-title {
  display: block;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
}

.table-title h3 {
   color: #fafafa;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}

th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}

th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}

tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}

tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}

tr:nth-child(odd) td {
  background:#EBEBEB;
}

tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}

td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

/* == INSTRUCTIONS/BUGS  =========================================== */
.instructions {
	background-color: #272822;
	height: calc(100vh - 180px);
	padding-top: 6px;
	overflow: scroll;
	white-space: pre-wrap;
	font-size: 16px;
}

.instructions p, h3 {
	color: #f8f8f2;
	/*font-family: monospace;*/
	padding-left: 16px;
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	padding-right: 16px;
}

.instructions span {
	color: #e6db74;
	font-family: monospace;
	padding-left: 16px;
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	padding-right: 16px;
	max-width: 100%;
}
